.profile {
  width: 100%;
  max-width: 880px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1279px) {
  .profile {
    width: 88%;
  }
}

@media screen and (max-width: 767px) {
  .profile {
    flex-direction: column;
    width: calc(100% - 38px);
  }
}