.card__like-button {
  width: 22px;
  height: 19px;
  background-image: url(../../../images/Like.svg);
  border: none;
  background-color: transparent;
  cursor: pointer;
  transition: opacity .2;
}

.card__like-button:hover {
  opacity: .5;
}
