.info-tooltip__container {
  position: relative;
  background-color: white;
  color: black;
  border-radius: 10px;
  box-shadow: 0 0 25px rgba(0, 0, 0, .15);
  max-width: 430px;
  width: 100%;
  box-sizing: border-box;
  padding: 60px 36px;
}

@media screen and (max-width: 468px) {
  .info-tooltip__container  {
    max-width: calc(100% - 40px);
    padding: 50px 18px;
  }
}