.hamburger {
  display: none;
  width: 30px;
  height: 24px;
  cursor: pointer;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 18px;
  bottom: 30px;
}

